boto3==1.39.4
botocore==1.39.4
certifi==2025.7.9
charset-normalizer==3.4.2
idna==3.10
jmespath==1.0.1
kagglehub==0.3.12
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
s3transfer==0.13.0
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
